/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}


.container {
    width: 100%;
    background-color: azure;
}


.mapcontainer {
    position: relative;
    width: 100vw;
}

.assignment {
    float: center;
    padding: 3%;
    width: 100%;
    font-size: 20pt;
    color: floralwhite;
    display: relative;
    background-color: lightblue;
    font-family: "impact";
    top: 0; 
    left: 0; 
    width: 100%; 
    text-transform: uppercase;
}

#bg {
    position: relative;
    float: right;
    width: 100%;
    padding-top: 2%;
}



.navigation {
    position: relative;
    float: right;
    width: 40%;
    z-index: 10;
    font-size: 20pt;
    text-align: right;
    line-height: 1.6;  
}

.france {
    background-color: yellow;
    color: palevioletred;
    border: solid white 8pt;
    padding: 0px 10px 0px 50px;
}

.england {
    font-size: 20pt;
    border: solid white 8pt;
    background-color: yellow;
    color: midnightblue;
    padding: 0px 10px 0px 50px;
}

.california {
    color: limegreen;
    border: solid white 8pt;
    background-color: yellow;
    padding: 0px 10px 0px 50px;
}

.boston {
    font-size: 20pt; 
    border: solid white 8pt;
    background-color: yellow;
    padding: 0px 10px 0px 50px;
    color: red;
    
}

.footer{
    position: relative;
    float: left;
    width: 100%;
    margin-top: 10%;
    font-size: 15pt;
    font-family: "franklin gothic";
    margin-left: 3%;
    color: indianred;
}


