.p16one {
    margin-right: 400px;
    padding-bottom:20px;
    font-size: 44pt;
    font-family: "Impact";
    border-bottom: medium dotted
}

.p16three {
    margin:70px;
    padding:0px 0px;
    font-size: 24pt;
    font-family: "Bauhaus93";
    text-transform: lowercase;
    letter-spacing:0.0em ;
    text-align: center;
    
     
}

.p16two {
    font-size: 14pt;
    font-family: "Garamond";
    font-weight: 100;
    text-transform: ;
    text-align: center ;
    letter-spacing:0.8em ;
    margin:150px 600px;
    padding:100px 50px;
    width: 1000px;
    line-height: 8;
    float: center;
}

.p17one {
    margin:400px 600px;
    padding:60px 400px;
    font-size: 33pt;
    font-family: "Helvetica";
    font-weight: bold;
    text-transform: ;
    text-align:;
    letter-spacing: ;
    display: ;
    height: ;
    width: ;
    float:;
}
}

.p18one {
    margin:100px;
    padding:40px 300px;
    font-size: 50pt;
    font-family: "Times New Roman";
    font-weight: 100;
    font-size: 30pt;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.02em;
    font-style: italic;
}

.p19one {
    margin:50px 400px;
    padding:0px;
    font-size: 20pt;
    font-family: "Andale Mono";
    font-weight: bold;
    text-transform: ;
    text-align: ;
    letter-spacing: ;
    width: 900px;
}

.p19two {
    margin:0px 900px;
    margin-top: 300px;
    padding:170px
    font-size: 13pt;
    font-family: "Impact";
    font-weight: bold;
    text-transform: ;
    text-align: ;
    letter-spacing: ;
    width: 1000px;
}

.p19three {
    margin:0px -90px;
    padding:170px
    font-size: 13pt;
    font-family: "Helvetica";
    font-weight: 100;
    text-transform: ;
    text-align:right;
    letter-spacing: ;
    width:1000px;
}

.p20one {
    margin:70px 100px;
    padding:10px;
    font-size: 53pt;
    font-family: "Georgia";
    font-weight: 200;
    text-transform: ;
    text-align: ;
    letter-spacing: 1em;
    width: 1000px;
    height: 150px;
}

.p20two {
    margin-left:800px;
    padding:0px 35px;
    font-size: 13pt;
    font-family: "Helvetica";
    font-weight: 900;
    text-transform: ;
    text-align: ;
    letter-spacing: 0.75em;
    width: 1000px;
    line-height: 
}

.p20three {
    margin:0px;
    padding-left:10px;
    font-size: 13pt;
    font-family: "Helvetica";
    font-weight: 500;
    text-transform: ;
    text-align: right;
    letter-spacing:0.05em;
    float: left;
    line-height: .
}

.p20four {
    margin-left:30px;
    padding:00px;
    font-size: 7pt;
    font-family: "Helvetica";
    font-weight: 900;
    text-transform: ;
    text-align: right;
    letter-spacing: 0.05em;
    float:;
    width: 1000px;
}

.p20five {
    margin-top:400px;
    padding-left:100px;
    font-size: 30pt;
    font-family: "Helvetica";
    font-weight: 900;
    text-transform: ;
    text-align:center;
    letter-spacing: 0.2em;
    float: left;
    line-height: 0.5em;
}

.p20six {
    margin:0px;
    padding:0px;
    font-size: 15pt;
    font-family: "Helvetica";
    font-weight: 900;
    text-transform: ;
    text-align: ;
    letter-spacing: ;
    float: right;
    line-height: 1;
    
}
