.p11one {
    margin:00px 00px;
    padding:160px 80px;
    border: ;
    display: ;
    height: ;
    width: 2000px;
    float: ;
}

.p11two {
    margin: 400px 800px;
    border: ;
    padding-right: 500px;
    display: ;
    height: ;
    width: 2000px;
    float: ;
}

.p11three {
    margin-top: 500px;
    margin-left: 1000px;
    border: ;
    padding-left: 800px;
    display: ;
    height: 200px;
    width: 1000px;
    float: ;
}

.p12one {
    margin:150px 800px;
    padding:400px 50px;
    border: ;
    display: ;
    height: ;
    width:1000px ;
    float: ;
}

.p12two {
    margin:200px 100px;
    padding:400px 150px;
    border: ;
    display: ;
    height:1000px;
    width:1000px;
    float: ;
}

.p12three {
    margin:200px;
    padding-left:600px;
    padding-right:200px;
    border: ;
    display: ;
    height: ;
    width:500px; ;
    float: ;
}

.p13one {
    margin:00px 100px;
    padding-left:;
    padding-right:;
    padding-top:;
    border: ;
    display: ;
    height:;
    width:;
    float:center;
}

.p13three {
    margin-top:600px;
    padding:0px 500px;
    border: ;
    display: ;
    height:;
    width:1000px ;
    float:center;
}

.p13four {
    margin:00px 300px;
    padding:00px 50px;
    border: ;
    display: ;
    height: ;
    width: ;
    float:center;
}

.p13five {
    margin:150px 600px;
    padding:
    border: ;
    display: ;
    height:;
    width:600px ;
    float: ;
}

.p13six {
    margin-top: 600px;
    margin-left: 100px;
    padding:
    border: ;
    display: ;
    height: ;
    width: ;
    float: ;
}

.p14one {
}

.p14two {
    margin:0px 200px;
}

.p14three {
}

.p14four {
    margin:0px 450px;
}

.p15one {
    margin:10px;
    padding:100px;
    border: ;
    display: ;
    height: ;
    width: ;
    float: ;
}

.p15two {
    margin:10px;
    padding:300px;
    border: ;
    display: ;
    height: ;
    width: ;
    float: ;
}

.p15three {
    margin:10px;
    padding:00px 600px;
    border: ;
    display: ;
    height: ;
    width: ;
    float: ;
}